.lists ul{
    list-style-type: none;
}

.comment{
    color: greenyellow;
}

/*-------------------

-------------------*/
.nav{
    display:inline;
    position:relative;
}

/*-------------------
html and attributes
-------------------*/
#html-attributes{
    display: flex;
}

.htmlSections {   
     
    margin:right;

    background-color: #333;
    font: .75em courier;
    color: white;
    padding:10px;

    max-width: 800px;
    font-family:'Courier New', Courier, monospace;
}

.htmlSections ul {
    padding-left: 20px;
}


.attributes {
    background-color: blue;
    padding: 2%;
    color: white;
    shape-outside: circle(50% at 0 0) padding-box;

    max-width: 30%;
    
    border-radius:50%;
    border:greenyellow solid;
}
.attributes ul {
    color: white;
}


/*-------------------

-------------------*/

.tags {
    background-color: orange;
    font: 12px;
    width: 30%;
    margin: .6em;
    padding: 10px;
}

.tags ul {
    border: solid black 1px;
    padding-left: 0;
    
}

.tags li{
    border: dotted white 1px;
    
}

.tags ul .secondary{
    color: white;
    font: 12px italic;
    padding-left:1em ;
}
/*-------------------

-------------------*/

#tagsbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: greenyellow;
}