*{
    box-sizing: border-box;
    margin:0%;
    /* position:relative; */
}

.comment{
    color: greenyellow;
}

body{
    position:relative;
    background-color: #c3e3aa;
    font-family:'roboto';
    font-size: .8em;
}

h2{
    font-family: 'Josefin Sans', sans-serif;

}


/*-------------------
utility classes ^^ and body
nav vv
-------------------*/
.navbar{
    background-color: green;
    padding: .3em;
    font-size: 1.5em;
    
    position:fixed;
    width:100%;

    z-index: 3;
    color:#cade73;

    font-family:'josefin sans';
    padding-left:1em;
}

.navbar a{
  color:white;
  text-decoration:none;
  padding-right:1em;
  vertical-align: middle;
}

.navbar ul{
  display: inline;
  padding-left: 0;
}

.navbar li{
    display:inline;
}

#home-icon{
    height:30px;
    display:inline-block;
    position:relative;
    border-radius: 50%;
}

.spacemaker{
    display:relative;
    height:4em;
    visibility: hidden;
}

/*-------------------
html and attributes
-------------------*/
.intro{
    
    position:relative;
    background-color: #ff6ba4;
    display:block;

    margin:10em 12px;

    width:95%;
    margin:auto;
    border-radius: 3%;
    padding:1em;

}

#lefttxt{
    color: #570b06;
    margin:1em;
    /* outline:salmon 2px solid; */

    display:inline-block;
    position:relative;
    height:40%;
    width:40%;
    overflow:hidden;
    margin-bottom:20px;
}

#htmlblock{  
    background-color: #333;
    color: white;
    font-family:'Courier New', Courier, monospace;

    padding:1em;

    position: relative;
    display:inline-block;

    width: 55%;
    height:200px;
    overflow:hidden;
    border-radius: 3%;
}
#htmlblock ul {
    padding-left: 20px;
    list-style-type: none;
}