.lists ul{
    list-style-type: none;
}
/*-------------------

-------------------*/
.nav{
    display:inline;
    position:relative;
}
/*-------------------

-------------------*/

.htmlSections {   
    position:relative; 
    margin:right;

    background-color: #333;
    font: .75em courier;
    color: white;
    padding:10px;

    max-width: 800px;
    width: 90%;
    font-family:'Courier New', Courier, monospace;
}

.htmlSections ul {
    padding-left: 20px;
}


/*-------------------

-------------------*/

.comment{
    color: greenyellow;
}


/*-------------------

-------------------*/

.attributes {
    background-color: blue;
    padding: 1em;
    margin: 80px;
    color: white;
    max-width: 30%;
    float: right;
    
    position:absolute;
    border:greenyellow solid;
}
.attributes ul {
    color: white;
}


/*-------------------

-------------------*/

.tags {
    background-color: orange;
    font: 12px;
    width: 30%;
    margin: .6em;
    padding: 10px;
}

.tags ul {
    border: solid black 1px;
    padding-left: 0;
    
}

.tags li{
    border: dotted white 1px;
    
}

.tags ul .secondary{
    color: white;
    font: 12px italic;
    padding-left:1em ;
}
/*-------------------

-------------------*/

#tagsbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: greenyellow;
}